:root {
  --toast-success-background: #28a745; /* Verde para éxito */
  --toast-danger-background: #dc3545;  /* Rojo para error */
  --toast-warning-background: #ffc107; /* Amarillo para advertencias */
  --toast-text-color: #ffffff;         /* Texto blanco */
}
ion-item.selected-meal {
  background-color: #d1f7d6; // Un verde claro para resaltar
  border: 2px solid #0a802f; // Un borde verde oscuro
}
