<app-header title="Lista de Empleados"></app-header>

<ion-content>
  <ion-segment [(ngModel)]="viewMode" (ionChange)="onViewModeChange($event)">
    <ion-segment-button value="list">Lista</ion-segment-button>
    <ion-segment-button value="grid">Cuadrícula</ion-segment-button>
  </ion-segment>

  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterEmployees($event)"
    placeholder="Buscar empleados..."
    animated
  ></ion-searchbar>

  <div
    [@viewChangeAnimation]="viewMode"
    [ngClass]="{ 'grid-view': viewMode === 'grid', 'list-view': viewMode === 'list' }"
  >
    <div
      class="employee-item"
      *ngFor="let employee of filteredEmployees"
      [@itemAnimation]
    >
      <h3>
        {{ employee.name }} ({{ employee.username || 'Sin usuario' }}) -
        <span>{{ employee.position }}</span>
        <ion-badge
          [color]="employee.expediente_status === 'Completo' ? 'success' : 'warning'"
        >
          {{ employee.expediente_status }}
        </ion-badge>
      </h3>
      <div class="actions">
        <ion-button color="primary" [routerLink]="['/employees/detail', employee.id]">
          Editar
        </ion-button>
        <ion-button color="danger" (click)="confirmDelete(employee)">
          Eliminar
        </ion-button>
        <ion-button color="tertiary" [routerLink]="['/employees/files', employee.id]">
          Expediente
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" routerLink="/employees/detail">
      Crear Nuevo Empleado
    </ion-button>
  </ion-toolbar>
</ion-footer>
