<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de Nómina</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let employee of employees" (click)="viewEmployee(employee.id)">
      <ion-label>
        <h2>{{ employee.name }}</h2>
        <p>{{ employee.position }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-button expand="block" color="primary" (click)="goBack()">
  Regresar
</ion-button>
