<ion-header>
  <ion-toolbar>
    <ion-title>Bonos y Descuentos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>{{ employee.name }}</h2>
  <p>{{ employee.position }}</p>

  <form (ngSubmit)="saveAdjustments()">
    <ion-list>
      <ion-item *ngFor="let adjustment of adjustments">
        <ion-label>{{ adjustment.type }}</ion-label>
        <ion-input [(ngModel)]="adjustment.amount" name="{{ adjustment.id }}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit">Guardar</ion-button>
  </form>
</ion-content>
